.title-discret{
    display: inline-block;
    font-size: 2rem;
    color: $gris1;
    margin-bottom: 1em;
}

// couleur selon catégorie

.name-category{
    @each $cat, $couleur in $cats {
        &.#{$cat} {
            a{
                color: $couleur;
            }
        }
    }
}

.image-circle{
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.list-tag{
    
    ul{
        padding-left: 0;
    }
    
    li{
        display: inline-block;
        font-size: 1.4rem;
        
        &:not(:last-child){
            margin-right: $small-value;
        }
    }
    
    a{
        display: block;
        text-decoration: none;
        background-color: rgba($gris1, .2);
        color: $gris1;
        padding: .8em 1.6em .6em;
        border-radius: 50px;
    }
}

.meta{
    font-size: 1.4rem;

    a{
        text-decoration: none;
    }

    span:not(:last-child)::after{
        content:'';
        display: inline-block;
        height: 15px;
        width: 2px;
        position: relative;
        top: 2px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .featured-category{
        text-transform: uppercase;
    }

    .featured-author a{
        color: inherit;
    }
    
    svg{
        height: 15px;
        width: 15px;
        margin-right: .3em;
        position: relative;
        top: 2px;
    }
}

.bt{
    transition: all ease .25s;
    display: inline-block;
    border:2px solid rgba(#fff, .9);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $medium;
    color: rgba(#fff, .9);
    padding: .8em 2em .55em;
    border-radius: 100em;
}

// PAgination

.pagination{
    text-align: center;
    margin-top: $large-value;
    color: $gris5;

    p{
        display: inline-block;
        margin-right: $medium-value;
        text-transform: uppercase;
        color: rgba($gris5, .9);

        span{
            font-weight: $bold;
            color: $gris5;
        }
    }

    .page-numbers{
        display: inline-block;
        height: 50px;
        width: 50px;
        line-height: 55px;
        border-radius: 100%;
        font-size: 2rem;
        color: inherit;
        text-decoration: none;
    }

    .current{
        font-weight: $bold;
        color: #fff;
        background-color: $gris5;
    }
}