.more-article{
    background-color: $gris2;
    padding-top: $medium-plus-value;
    padding-bottom: $medium-plus-value;
    margin-top: $medium-plus-value;
    
    .meta{
        margin-top: $small-plus-value;
        color: $gris1;
        
        a{
            font-weight: $medium;
        }
        
        span:not(:last-child)::after{
            background-color: $gris1;
        }

    }
}

.more-wrapper{
    display: flex;
    flex-wrap: wrap;
    
    @each $cat, $couleur in $cats {
        .#{$cat} {
            h2 a{
                color: $couleur;
            }    
        }
    }
    
    @include width-above(500px){
        h2 a{
            font-size: 3rem;
        }
    }
}

.more-title{
    text-align: center;
    font-weight: $black;
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 1em !important;
    margin-bottom: -.35em;
    
    @include width-below(800px){
        font-size: 6rem;
    }
    
    @include width-below(500px){
        display: none;
    }
}

@each $cat, $couleur in $cats {
    .#{$cat} {
        .more-title{
            color: $couleur;
        }    
    }
}