.main{
}

.wrapperMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.header{
    transition: all ease .25s;
    font-weight: $book;
    font-size: 1.4rem;
    color: $gris1;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.menu_open .header{
    bottom: 0;
}

.menu-top-wrapper{
    transition: all ease .25s;
    background-color: $color-fond;
    overflow: hidden;
    font-size: 1.4rem;
    height: $menu-big-height;
    display: flex;
    
    @include width-below($mobile-size){
        
        height: $menu-small-height;
        
        .wrapper{
            padding: 10px $medium-value;
        }
        
        svg #baseline{
            opacity: 0;
        }
        
        .logo a{
            width: 150px;
            position: relative;
            top: 10px;
        }
        
        .lire-revue img{
            width: 60px;
            height: auto;
        }
    }
    
    *{
        transition: all ease .25s;
    }
    
    &.smaller{
        
        height: $menu-small-height;
        
        .wrapper{
            padding: 10px $medium-value;
        }
        
        svg #baseline{
            opacity: 0;
        }
        
        .logo a{
            width: 150px;
            position: relative;
            top: 10px;
        }
        
        .lire-revue img{
            width: 60px;
            height: auto;
        }
    }
}


.logo{
    transition: all ease .25s;
    text-align: center;
    flex: 1;
    opacity: 1;
    
    a{
        transition: height ease .25s;
        display: inline-block;
        max-width: 215px;
    }
    
    svg{
        fill: #fff;
        width: 200px;
        height: auto;
    }
}

.menu{
    
    display: flex;
    flex: 2;
    
    a{
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
        color: $gris1;
        position: relative;
        padding-left: calc(20px + #{$small-value});
        
        
        svg{
            width: 20px;
            position: absolute;
            top:-3px;
            left: 0;
            fill: $gris1;
        }
        
        &:not(:last-child){
            margin-right: $medium-value;
        }
    }
    
    .lien-vlog{
        color: $vlog;
        text-transform: uppercase;
        
        @include width-below($mobile-size){
            display: none;
        }
        
        svg{
            transition: left ease .3s;
            fill: $vlog;
            position: absolute;
            left: 0;
        }
        
        &:hover{
            svg{
                left: 5px;
            }
        }
    }
    
    .link-tags{
        cursor: pointer;
        text-transform: uppercase;
        
        svg{
            transition: all ease .25s;
            transform-origin: center;
        }
        
        &:hover svg{
            transform: rotate(10deg);
        }
        
        @include width-below($mobile-size){
            display: none;
        }
    }

}

    // Icone avant
    
    [id="checkboxMenu"]{
        position: absolute;
        left: -10000px;
    }

    // Icone avant quand ouvert
    
    [id="checkboxMenu"]:checked + div label .icon{
        height: 0;
        transform: translateY(-2px);
        background-color: $gris1;
        &::after{
            transform: rotate(-45deg);
            top: 0;
            background-color: $gris1;
            width: 30px;
        }
        &::before{
            transform: rotate(45deg);
            top: 0;
            background-color: $gris1;
        }
    }
    
    [id="checkboxMenu"]:checked + div label .text-menu{
        transition: opacity ease .3s 0;
        display: inline-block;
        opacity: 1;
        width: auto;
        left: auto;
    } 

[id="checkboxMenu"]:checked ~ .wrapper-menu{
    display: block;
}

[id="checkboxMenu"]:checked ~ div .lien-vlog,
[id="checkboxMenu"]:checked ~ div .lien-vlog + a{
    display: none;
}

.bt-menu{
    margin: auto $medium-value auto 0;
    
    label{
        padding: $small-value 0;
    }
    
    .text-menu{
        transition: opacity ease .3s .1s;
        opacity: 0;
        position: absolute;
        left: -10000px;
        text-transform: uppercase;
        
        @include width-below(450px){
            display: none !important;
        }
    }
    
    .icon{
        transition: all ease .3s;
        display: inline-block;
        height: 2px;
        width: 30px;
        margin-right: 10px;
        background-color: #fff;
        opacity: 1;
        vertical-align: middle;
        transform: translateY(-1px);
        border-radius: 5px;
        position: relative;
        top: -4px;
        
        &::after{
            transition: all ease .3s;
            content: '';
            display: inline-block;
            height: 2px;
            width: 17px;
            background-color: #fff;
            position: absolute;
            top: -9px;
            border-radius: 5px;
        }
        
        &::before{
            transition: all ease .3s;
            content: '';
            display: inline-block;
            height: 2px;
            width: 30px;
            background-color: #fff;
            position: absolute;
            top: 9px;
            border-radius: 5px;
        }
    }
    
    //Icone avant quand survolé
    
    label:hover .icon{
        &::after{
            top: -12px;
        }
        
        &::before{
            top: 12px;
        }
    }
}

.menu-right{
    
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-end;
    
    .lire-revue{
        transition: all ease .25s;
        color: $gris1;
        text-decoration: none;
        position: relative;
        padding-left: calc(84px + #{$small-value});
        text-transform: uppercase;
        
        @include width-below($mobile-size){
            display: none;
        }
        
        img{
            position: absolute;
            left: 0;
            top: -20px;
            max-width: 85px;
        }
        
        &:hover{
            color: #fff;
            
            img{
                top: -30px;
            }
        }
    }
}

// Menu

.wrapper-menu{
    background-color: $gris5;
    width: 100%;
    //position: fixed;
    //z-index: 5;
    display: none;
    
    > div{
        display: flex;
        padding: 0;
    }
    
    .hgroup-cat{
        h1{
            width: 200%;
        }
    }
}

.menu-cat-wrapper{
    background-color: $gris5;
    min-width: 20%;
    position: relative;
    z-index: 10;
    
    @include width-below($mobile-size){
        min-width: 100%;
    }
    
    ul{
        list-style: none;
        padding-left: 0;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: regular;
        
        @each $cat, $couleur in $cats {
            .#{$cat} {
                a:hover,
               &.actif a{
                    border-left-color: $couleur;
                }
            }
        }
        
        a{
            transition: all ease .2s;
            color: $gris1;
            text-decoration: none;
            display: block;
            padding: 1em 0 1em $small-value;
            background-color: transparent;
            border-left: 3px solid transparent;
            
            &:hover{
                background-color: #0d0e0f;
                color: #fff;
            }
        }
        
        .actif a{
            background-color: #0d0e0f;
            color: #fff;
        }
    }
}

.menu-cat-content{
    background-color: #0d0e0f;
    max-width: 80%;
    width: 100%;
    
    .description-title{
        font-size: 6rem;
        line-height: 1.2em;
        color: #fff;
        text-transform: none;
        margin-bottom: $small-plus-value;
    }
    
    .thumb{
        max-width: 100%;
    }
    
    .wrapper-articles-menu{
        display: flex;
        flex-shrink: 1;
        flex-wrap: wrap;
        position: relative;
        width: calc(100% - 300px - #{$medium-value});
        
        > div{
            width: calc(50% - #{$medium-value}/2);
            max-width: 300px;
            margin-bottom: $medium-value;
            
            &:nth-child(odd){
                margin-right: $medium-value;
            }
        }
        
        h2{
            font-size: 2rem;
            text-transform: none;
            
            a{
                color: rgba(#fff, .8);
                text-decoration: none;
                font-weight: $regular;
            }
        }
    }
    
    .hgroup-cat{
        margin-bottom: 1em;
    }
    
    .big-wrapper-menu{
        display: flex;
        flex-shrink: 1;
    }

    
    .menu-pub{
        width: 300px;
        margin-left: $medium-value;
    }
    
    .cat-menu{
        display: none;
        padding: $large-value 80px;  
        
        position: relative;
        
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            right: -100%;
            z-index: 100;
        }
    }
    
    .cat-or-cadre{
        background: $gradient-or-cadre;
        
        &::before{
            background: $gradient-or-cadre;;
        }
    }
    
    .cat-or-sujet{
        background: $gradient-or-sujet;
        
        &::before{
            background: $gradient-or-sujet;
        }
    }
    
    .cat-or-piste{
        background: $gradient-or-piste;
        
        &::before{
            background: $gradient-or-piste;
        }
    }
    
    .cat-or-doeuvre{
        background: $gradient-or-doeuvre;
        
        &::before{
            background: $gradient-or-doeuvre;
        }
    }
    
    .cat-or-bord{
        background: $gradient-or-bord;
        
        &::before{
            background: $gradient-or-bord;
        }
    }
}

// Liste catégories

.wrapper-tags{
    transition: opacity ease .3s;
    text-transform: none;
    font-size: 1.8rem;
    background-color: $gris5;
    font-weight: $regular;
    position: fixed;
    width: 100%;
    z-index: -10;
    box-shadow: 0 40px 40px rgba(#000, .2);
    opacity: 0;
    top: -1000px;
    
    .wrapper{
        padding-bottom: calc(#{$medium-value} - #{$small-value});
    }
    
    ul{
        padding-left: 0;
        list-style-type: none;
    }
    
    li{
        display: inline-block;
        margin-right: $small-value;
        margin-bottom: $small-value;
    }
    
    a{
        transition: all ease .25s;
        display: block;
        color: $gris4;
        text-decoration: none;
        border: 1px solid #515253;
        padding: .5em 1.2em .4em;
        border-radius: 100em;
        
        &::before{
            content: '#';
        }
        
        &:hover{
            color: #fff;
            border-color: #fff;
        }
    }

    &.tagOpen{
        opacity: 1;
        z-index: 100;
        top: auto;
    }
}

@include width-below($mobile-size){
    
    body{
        transition: all ease .3s;
        position: relative;
        left: 0;
    }
    
    body.menu_open{
        left: calc(100% - 70px);
    }
    
    .menu-desktop{
        display: none !important;
    }
    
    .menu-mobile{
        transition: left ease .3s;
        position: fixed;
        width: calc(100% - 70px);
        left: calc(-100% + 70px);
        top: 0;
        bottom: 0;
        overflow-y: auto;
        min-height: 100vh;
        
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom:0;
            background: linear-gradient(to right, rgba(#000, 0), rgba(#000, 1));
            right: 0;
            width: 50px;
            z-index: 0;
        }
        
        &.menu-mobile{
            display: block;
        }
        
        ul ul{
            display: none;
            
            li{
                font-size: 1.8rem;
                
                &:last-child::after{
                    display: none;
                }
            }
            
            a{
                padding: .75em 0 .75em 15px;
                padding-left: 40px;
            }
        }
        
        li{
            font-size: 2rem;
        
            &::after{
                content:'';
                display: block;
                height: 1px;
                width: 80%;
                background-color: rgba(#fff, .1);
                margin: auto;
            }
            
            svg{
                transition: fill ease .25s;
                height: 20px;
                width: 20px;
                margin-right: 10px;
                position: relative;
                top: 2px;
            }
            
            a:hover svg{
                fill: #fff;
            }
        }
        
        .rubriques > a{
            color: $menu-color;
            
            svg{
                fill: $menu-color;
            }
        }
        
        .vlog a{
            color: $vlog;
            
            svg{
                fill: $vlog;
            }
        }
        
        .tags a{
            svg{
                fill: $gris1;
            }
        }
    }
    
    [id="checkboxMenu"]:checked ~ .menu-mobile{
        left:0;
    }
}

@include width-above($mobile-size+1){
    .menu-mobile{
        display: none !important;
    }
}

// Vlog

.vlog-menu{
    display: none;
    padding: $large-value;
    position: relative;
    
    .hgroup-cat p{
        color: $vlog;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        right: -100%;
        z-index: 100;
        background-color: #0d0e0f;
    }

}

//Recherche

.bas{
    transition: width ease .4s; //quand ça revient
    transition-delay: .9s;
    content: '';
    display: block;
    height: 100%;
    width: 0;
    background-color: $color-fond;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    
    &.basopen{
        transition-delay: 0.01s;
        width: 60%;
        
        @include width-below(900px){
            width: 100%;
        }
    }
}

.header .search{
    background: none;
    display: flex;
    justify-content: flex-end;
    margin-left: $medium-value;
    width: 35px;
    z-index: 10;

    input[type="search"]{
        transition: border ease .25s, width ease .5s .5s, opacity ease .5s .5s;
        border: 0;
        border-bottom: 1px solid $gris1; 
        background: none;
        color: #fff;
        width: 0;
        opacity: 0;
        position: absolute;
        right: 80px;
        z-index: 2;
        border-radius: 0;

        &:focus{
            border-bottom-color: $menu-color;
        }
    }
    
    &.open{
        input[type="search"]{
            transition: width ease .8s 0, opacity ease .8s 0;
            width: 60%;
            opacity: 1;
        }
    }

    button[type="submit"]{
        border: 0;
        background: none;
        right: 0;
        cursor: pointer;

        svg{
            width: 20px;
            fill: $gris1;
        }

        &:hover svg{
            fill: $menu-color;
        }
    }
}