.main{
}

.wrapperMenu{
    display: flex;
    width: 100%;
}

.header{
    transition: all ease .25s;
    font-weight: $book;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $gris1;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.menu-top-wrapper{
    transition: all ease .25s;
    background-color: $color-fond;
    overflow: hidden;
    font-size: 1.4rem;
    
    @include width-below($mobile-size){
        
        .wrapper{
            padding: 10px $medium-value;
        }
        
        svg #baseline{
            opacity: 0;
        }
        
        .logo a{
            width: 150px;
            position: relative;
            top: 10px;
        }
        
        .lire-revue img{
            width: 60px;
            height: auto;
        }
    }
    
    *{
        transition: all ease .25s;
    }
    
    &.smaller{
        
        .wrapper{
            padding: 10px $medium-value;
        }
        
        svg #baseline{
            opacity: 0;
        }
        
        .logo a{
            width: 150px;
            position: relative;
            top: 10px;
        }
        
        .lire-revue img{
            width: 60px;
            height: auto;
        }
    }
}


.logo{
    text-align: center;
    flex: 1;
    
    a{
        transition: height ease .25s;
        display: inline-block;
        max-width: 215px;
    }
    
    svg{
        fill: #fff;
    }
}

.menu{
    
    display: flex;
    
    a{
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
        color: $gris1;
        position: relative;
        padding-left: calc(20px + #{$small-value});
        
        svg{
            width: 20px;
            position: absolute;
            top:-3px;
            left: 0;
            fill: $gris1;
        }
        
        &:not(:last-child){
            margin-right: $medium-value;
        }
    }
    
    .lien-vlog{
        color: $vlog;
        
        @include width-below($mobile-size){
            display: none;
        }
        
        svg{
            transition: left ease .3s;
            fill: $vlog;
            position: absolute;
            left: 0;
        }
        
        &:hover{
            svg{
                left: 5px;
            }
        }
    }
    
    .link-tags{
        cursor: pointer;
        
        @include width-below($mobile-size){
            display: none;
        }
    }
}

    // Icone avant
    
    [id="checkboxMenu"]{
        position: absolute;
        left: -10000px;
    }

    // Icone avant quand ouvert
    
    [id="checkboxMenu"]:checked + div label .icon{
        height: 0;
        transform: translateY(-2px);
        background-color: $gris1;
        &::after{
            transform: rotate(-45deg);
            top: 0;
            background-color: $gris1;
            width: 30px;
        }
        &::before{
            transform: rotate(45deg);
            top: 0;
            background-color: $gris1;
        }
    }
    
    [id="checkboxMenu"]:checked + div label .text-menu{
        transition: opacity ease .3s 0;
        display: inline-block;
        opacity: 1;
        width: auto;
        left: auto;
    } 

[id="checkboxMenu"]:checked ~ .wrapper-menu{
    display: block;
}

[id="checkboxMenu"]:checked ~ div .lien-vlog,
[id="checkboxMenu"]:checked ~ div .lien-vlog + a{
    display: none;
}

.bt-menu{
    margin: auto $medium-value auto 0;
    
    label{
        padding: $small-value 0;
    }
    
    .text-menu{
        transition: opacity ease .3s .1s;
        opacity: 0;
        position: absolute;
        left: -10000px;
        
        @include width-below(450px){
            display: none !important;
        }
    }
    
    .icon{
        transition: all ease .3s;
        display: inline-block;
        height: 2px;
        width: 30px;
        margin-right: 10px;
        background-color: #fff;
        opacity: 1;
        vertical-align: middle;
        transform: translateY(-1px);
        border-radius: 5px;
        
        &::after{
            transition: all ease .3s;
            content: '';
            display: inline-block;
            height: 2px;
            width: 17px;
            background-color: #fff;
            position: absolute;
            top: -9px;
            border-radius: 5px;
        }
        
        &::before{
            transition: all ease .3s;
            content: '';
            display: inline-block;
            height: 2px;
            width: 30px;
            background-color: #fff;
            position: absolute;
            top: 9px;
            border-radius: 5px;
        }
    }
    
    //Icone avant quand survolé
    
    label:hover .icon{
        &::after{
            top: -12px;
        }
        
        &::before{
            top: 12px;
        }
    }
}

.menu-right{
    
    display: flex;
    align-items: center;
    
    .lire-revue{
        color: $gris1;
        text-decoration: none;
        position: relative;
        padding-left: calc(84px + #{$small-value});
        
        @include width-below($mobile-size){
            display: none;
        }
        
        img{
            position: absolute;
            left: 0;
            top: -20px;
        }
    }
}

.bt-search{
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    margin-left: $medium-value;
    
    svg{
        width: 20px;
        fill: $gris1;
        position: relative;
        top: 3px;
    }
}


// Menu

.wrapper-menu{
    background-color: $gris5;
    width: 100%;
    //position: fixed;
    //z-index: 5;
    display: none;
    
    > div{
        display: flex;
        padding: 0;
    }
}

.menu-cat-wrapper{
    background-color: $gris5;
    min-width: 20%;
    
    @include width-below($mobile-size){
        min-width: 100%;
    }
    
    ul{
        list-style: none;
        padding-left: 0;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: regular;
        
        @each $cat, $couleur in $cats {
            .#{$cat} {
                a:hover,
               &.actif a{
                    border-left-color: $couleur;
                }
            }
        }
        
        a{
            transition: all ease .2s;
            color: $gris1;
            text-decoration: none;
            display: block;
            padding: 1em 0 1em $small-value;
            background-color: transparent;
            border-left: 3px solid transparent;
            
            &:hover{
                background-color: #0d0e0f;
                color: #fff;
            }
        }
        
        .actif a{
            background-color: #0d0e0f;
            color: #fff;
        }
    }
}

.menu-cat-content{
    background-color: #0d0e0f;
    padding: $medium-plus-value $large-value;
    display: flex;
    
    .description-title{
        font-size: 6rem;
        line-height: 1.2em;
        color: #fff;
        text-transform: none;
        margin-bottom: $small-plus-value;
    }
    

    .wrapper-articles-menu{
        display: flex;
        flex-wrap: wrap;
        
        > div{
            width: calc(50% - #{$medium-value}/2);
            margin-bottom: $medium-value;
            
            &:nth-child(odd){
                margin-right: $medium-value;
            }
        }
        
        h2{
            font-size: 2rem;
            text-transform: none;
            
            a{
                color: $gris4;
                text-decoration: none;
                font-weight: $regular;
            }
        }
    }

    
    .menu-pub{
        width: 33%;
        margin-left: $medium-value;
    }
    
    .cat-menu{
        display: none;
    }

}

// Liste catégories

.wrapper-tags{
    transition: opacity ease .3s;
    text-transform: none;
    font-size: 1.8rem;
    background-color: $gris5;
    font-weight: $regular;
    position: fixed;
    width: 100%;
    z-index: -10;
    box-shadow: 0 40px 40px rgba(#000, .2);
    opacity: 0;
    
    .wrapper{
        padding-bottom: calc(#{$medium-value} - #{$small-value});
    }
    
    ul{
        padding-left: 0;
        list-style-type: none;
    }
    
    li{
        display: inline-block;
        margin-right: $small-value;
        margin-bottom: $small-value;
    }
    
    a{
        transition: all ease .25s;
        display: block;
        color: $gris4;
        text-decoration: none;
        border: 1px solid #515253;
        padding: .5em 1.2em .4em;
        border-radius: 100em;
        
        &::before{
            content: '#';
        }
        
        &:hover{
            color: #fff;
            border-color: #fff;
        }
    }

    &.tagOpen{
        opacity: 1;
        z-index: 100;
    }
}

@include width-below($mobile-size){
    .menu-desktop{
        display: none !important;
    }
    
    .menu-mobile{
        position: fixed;
        width: calc(100% - 50px);
        right: 100%;
        top: 0;
        
        ul ul{
            display: none;
        }
    }
}

@include width-above($mobile-size+1){
    .menu-mobile{
        display: none !important;
    }
}