.cross-mobile{
    background-color: $gris2;
    padding-top: 75px;
    padding-bottom: 75px;
    
    @include width-above(701px){
    
        .wrapper{
            align-items: center;
            display: flex;

            > div{
                width: 50%;

                &:not(:last-child){
                    margin-right: $medium-value;
                }
            }
        }
        
    }
    
    h2{
        line-height: 1.2em;
        margin-bottom: 30px;
        
        span{
            display: block;
            color: #515253;
        }
    }
    
    .list-mobile{
        padding-left: 0;
        list-style: none;
        margin-top: 30px;
        display: flex;
        
        li{
            display: inline-block;
            margin-bottom: $small-value;
            
            &:not(:last-child){
                margin-right: $small-value;
            }
        }
    }
    
    @include width-below(700px){
        
        padding-bottom: 0;
        
        .wrapper{
            padding-bottom: 0;
        }
        
        .img-cross-mobile{
            margin-top: $large-value;
            text-align: center;
        }
    }
    
    @include width-below(500px){
        .img-cross-mobile{
            img{
                min-width: 90%;
            }
        }
    }
}