// Config file and project variables

// font sizes
$base-font-size : 2rem !default; // ex. 1.6rem would be "16px" equivalent
$line-height    : 1.5 !default; // equiv line-height 1.5
$h1-size        : 9rem !default; // equiv "32px"
$h2-size        : 6rem !default; // equiv "28px"
$h3-size        : 4rem !default; // equiv "24px"
$h4-size        : 2.0rem !default; // equiv "20px"
$h5-size        : 1.8rem !default; // equiv "18px"
$h6-size        : 1.6rem !default; // equiv "16px"

// font stacks
$font-stack-common : 'geomanist', sans-serif !default; // common font 
$font-stack-article : 'calendasplus', serif !default; // headings font

//font weights

$book : 100;
$regular : 400;
$medium : 500;
$bold : 700;
$black : 900;


// color scheme
$color1    : #1d2021 !default;
$color2    : #fff !default;
$color3    : #333 !default;
$color4    : #000 !default;
$color5    : #6FA939 !default;

$color-fond : #1d2021;
$gris1 : #8b8b8b;
$gris2 : #f1f2f2;
$gris3 : #ebebed;
$gris4 : #cdcdce;
$gris5: #17191a;

// Themes

$or-cadre : #ff5025;
$or-sujet : #df2219;
$or-piste : #fc7600;
$or-doeuvre : #8dcc51;
$or-bord : #0e55e5;
$vlog : #f83938;
$menu-color : #6091ff;

$cats: ("or-cadre": $or-cadre, "or-sujet": $or-sujet, "or-piste": $or-piste, "or-doeuvre": $or-doeuvre, "or-bord": $or-bord);


// colors used in project
$base-color: $color1;
$link-color: $color3;
$base-background : $color2;
// If you don't want any effect on focused/hovered links,
// comment variable below or make it equal to either $link-color or false or null
$link-hover-color: $color4;
$brand-primary: $color5;


// spacings (choose unit you prefer)
$tiny-value             : .5rem !default; // tiny value for margins / paddings
$tiny-plus-value        : .7rem !default; // tiny+ value for margins / paddings
$small-value            : 15px !default; // small value for margins / paddings
$small-plus-value       : 1.5rem !default; // small+ value for margins / paddings
$medium-value           : 30px !default; // medium value for margins / paddings
$medium-plus-value      : 45px !default; // medium+ value for margins / paddings
$large-value            : 60px !default; // large value for margins / paddings
$large-plus-value       : 6rem !default; // large value for margins / paddings
$extra-large-value      : 8rem !default; // extra large value for margins / paddings
$extra-large-plus-value : 12rem !default; // extra large value for margins / paddings
$ultra-large-value      : 16rem !default; // ultra large value for margins / paddings
$ultra-large-plus-value : 20rem !default; // ultra large value for margins / paddings

//kna-namespace (default : null)
$kna-namespace: null !default;

// Mes configs persos
$wrapper-size : 1400px;
$mobile-size : 900px;
$menu-small-height : 74px;