@font-face {
    font-family: 'geomanist';
    src: url('fonts/geomanist-book-webfont.woff2') format('woff2'),
         url('fonts/geomanist-book-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}