.cat-background{
    padding-top: 75px;
    padding-bottom: 75px;
    
    @each $cat, $couleur in $cats {
        &.#{$cat} {
            background: linear-gradient(adjust-hue($couleur, 5), adjust-hue($couleur, -5));
            
            .pagination{
                .current{
                    color: $couleur;
                    background-color: #fff;
                }
            }
        }
    }
    
    .wrapper-articles{
        position: relative;
        z-index: 2;
        margin-top: 20px;
    }
    
    .format{
        color: #fff;
        
        h2{
            a{
                color: #fff;
            }
        }
        
        .excerpt{
            opacity: .8;
        }
        
        .meta{
            color: #fff;

            span:not(:last-child)::after{
                background-color: #fff;
            }

            svg{
                fill: #fff;
            }
        }
    }
    
    .pagination{
        color: #fff;
        
        p{
            color: rgba(#fff, .9);
            
            span{
                color: #fff;
            }
        }
    }
}

.hgroup-cat{
    text-align: center;
    position: relative;
    
    h1{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 15rem;
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #fff;
        text-shadow: 20px 20px 20px rgba(#000, .5);
        opacity: .2;
    }
    
    p{
        color: #fff;
        font-style: italic;
        font-size: 3rem;
        position: relative;
        z-index: 2;
    }
}

.thumb-shadow{
    display: inline-block;
    box-shadow: 11px 11px 20px rgba(#000, .25);
}

.tag-background{
    padding-top: 75px;
    padding-bottom: 75px;
    
    .hgroup-cat{
        h1, p{
            color: $gris5;
        }
    }
    
    .wrapper-articles{
        margin-top: 20px;
        position: relative;
        z-index: 2;
    }
}