.single-article{
    margin-top: 50px;
    display: flex;
}

.wrapper-single-article{
    
    .wp-caption{
        width: 100% !important;
        height: auto;
        margin: 2em 0;
        
        img{
            width: 100%;
        }
        
        .wp-caption-text{
            font-size: 1.4rem;
            color: $gris1;
            text-align: center;
        }
    }
    
    p{
        line-height: 1.7em;
        
        a{
            transition: all ease .25s;
            text-decoration: none;
            border-bottom: 2px solid $base-background;
            
            &:hover{
                color: $or-cadre;
                border-bottom: 2px solid transparent;
            }
        }
    }
    
    blockquote{
        font-size: 3rem;
        margin: 2.5em auto;
        
        p{
            line-height: 1.35em;
            font-style: italic;
        }
    }
    
    .twitter-tweet{
        margin: $medium-value auto !important;
    }
        
    //Couleurs en fonction de la catégorie
    
    @each $cat, $couleur in $cats {
        &.#{$cat} {
            
            a{
                border-bottom-color: $couleur;
            }
            
            h2,h3, h4, h5, h6,
            a:hover,
            blockquote{
                color: $couleur;
                
                &::before{
                    color: inherit;
                }
            }
            
            .author-footer{
                border-top-color: $couleur;
            }
        }
    }
    
}



.wrapper-article{
    
    margin-right: $large-value;
    width: calc(66% - #{$large-value});
    
    p, li, blockquote{
        font-family: $font-stack-article;
    }
    
    p, h2, h3, h4, h5, blockquote, ul, ol, .wp-caption-text{
        margin-left: $large-value;
        margin-right: $large-value;
    }
    
    blockquote p{
        margin-left: 0;
        margin-right: 0;
    }
    
    .size-medium{
        padding-left: $large-value;
        padding-right: $large-value;
    }
}

.article-author-top{
    display: flex;
    align-items: flex-start;
    color: #fff;
    margin-top: 1em;
    
    .author-text{
        flex: 1;
        margin-left: $medium-value;
    }
    
    .author-name{
        font-weight: $medium;
        line-height: 1em;
        
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    
    .author-title{
        display: block;
    }
    
    .meta{
        color: #cdcdce;
        font-size: 1.4rem;
        font-weight: $regular;
        margin-top: .5em;
        
        span:not(:last-child)::after{
            background-color: #cdcdce;
        }
    }
}

.list-tag{
    @include width-above($mobile-size + 1){
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.author-footer{
    padding-top: $medium-plus-value;
    margin-top: $medium-value;
    border-top: 3px solid $gris1;
    display: flex;
    align-items: flex-start;
    
    @include width-above($mobile-size + 1){
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .author-text{
        flex: 1;
        margin-left: $medium-value;
    }
    
    .author-name{
        font-size: 3rem;
        font-weight: $medium;
        line-height: 1em;
        
        a{
            text-decoration: none;
        }
    }
    
    .author-description{
        font-family: $font-stack-article;
    }
    
    .author-title{
        display: block;
    }
}
