.single-article{
    margin-top: 10px;
    display: flex;
}

.single-post{
    .featured-post{
        min-height: calc(100vh - #{$menu-big-height});
        padding-bottom: 3vh;
    }
}

.wrapper-single-article{
    
    .wp-caption{
        width: 100% !important;
        height: auto;
        margin: 2em 0;
        position: relative;
        
        img{
            max-width: 100%;
        }
        
        .wp-caption-text{
            font-size: 1.4rem;
            color: $gris1;
            text-align: center;
            font-family: $font-stack-common;
        }
    }
    
    p{
        line-height: 2em;
        
        a{
            transition: all ease .25s;
            text-decoration: none;
            border-bottom: 2px solid $base-background;
            
            &:hover{
                color: $or-cadre;
                border-bottom: 2px solid transparent;
            }
        }
    }
    
    blockquote{
        font-size: 3rem;
        margin: 2.5em auto;
        
        @include width-below(600px){
            font-size: 2.5rem;
        }
        
        p{
            line-height: 1.35em;
            font-style: italic;
        }
    }
    
    .twitter-tweet{
        margin: $medium-value auto !important;
        z-index: 0 !important;
    }
        
    //Couleurs en fonction de la catégorie
    
    @each $cat, $couleur in $cats {
        &.#{$cat} {
            
            a{
                border-bottom-color: $couleur;
            }
            
            h2,h3, h4, h5, h6,
            a:hover,
            blockquote{
                color: $couleur;
                
                &::before{
                    color: inherit;
                }
            }
            
            .author-footer{
                border-top-color: $couleur;
            }
            
            .entretien{
                em{
                    color: $couleur;
                }
            }
        }
    }  
    
    .list-tag{
    }
    
    .entretien{
        font-family: $font-stack-common;
        font-weight: $medium;
        font-style: normal;
        margin-bottom: 20px;
        
        em{
            font-style: normal;
        }
    }
}



.wrapper-article{
    
    p, li, blockquote{
        font-family: $font-stack-article;
    }
    
    p, h2, h3, h4, h5, blockquote, ul, ol, .wp-caption-text{
        margin-left: 100px;
        margin-right: 100px;
        
        @include width-below(500px){
            margin-left: $medium-value;
            margin-right: $medium-value;
        }
    }
    
    blockquote p{
        margin-left: 0;
        margin-right: 0;
    }
    
    img{
        padding-left: 100px;
        padding-right: 100px;
        
        @include width-below(500px){
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .big{
        padding-left: 0;
        padding-right: 0;
    }
    
    h2{
        font-size: $h3-size;
        font-weight: $medium;
    }
    
    h3{
        font-size: $h4-size;
        font-weight: $medium;
    }
}

.article-author-top{
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 1em;
    
    .author-text{
        flex: 1;
        margin-left: $medium-value;
    }
    
    .author-name{
        font-weight: $medium;
        line-height: 1em;
        
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    
    .author-title{
        display: block;
    }
    
    .meta{
        color: #cdcdce;
        font-size: 1.4rem;
        font-weight: $regular;
        margin-top: .5em;
        
        span:not(:last-child)::after{
            background-color: #cdcdce;
        }
    }
}

.author-footer{
    padding-top: $medium-plus-value;
    margin-top: $medium-value;
    border-top: 3px solid $gris1;
    display: flex;
    align-items: flex-start;
    
    @include width-below(500px){
        flex-direction: column;
        
        .image-circle{
            margin-bottom: 1em;
            margin-left: auto;
            margin-right: auto;
        }
        
        .author-name,
        .author-title{
            display: block;
            text-align: center;
        }
    }
    
    .author-text{
        flex: 1;
        
        @include width-above(501px){
           margin-left: $medium-value; 
        }
    }
    
    .author-name{
        font-size: 3rem;
        font-weight: $medium;
        line-height: 1em;
        
        a{
            text-decoration: none;
        }
    }
    
    .author-description{
        font-family: $font-stack-article;
    }
    
    .author-title{
        display: block;
    }
}

@include width-below(800px){
    .sidebar-article{
        display: none;
    }
    
    .wrapper-article{
        margin-right: 0;
        width: 100%;
    }
}

// Barre tps lecture

.tps-lecture{
    background: linear-gradient(to bottom, rgba(#fff, 1) 50%, rgba(#fff, 0));
    position: sticky;
    top: $menu-small-height;
    z-index: 10;
    overflow: hidden;
}

.barre-tps-lecture{
    height: 4px;
    width: 0;
}

@each $cat, $couleur in $cats {
    .#{$cat} {
        .barre-tps-lecture{
            background-color: $couleur;
        }  
        
        .reste-tps-lecture{
            color: $couleur;
            
            svg{
                fill: $couleur;
            }
        }
    }
} 

.reste-tps-lecture{
    text-align: center;
    font-size: 1.4rem;
    font-weight: $medium;
    padding: $small-value;
    
    svg{
        width: 17px;
        height: 17px;
        margin-right: 5px;
        position: relative;
        top: 4px;
    }
}

.sidebar-article{
    width: 300px;
    height: 600px;
    position: sticky;
    top: 125px;
    flex-shrink: 0;
}

.meta-footer-article{
    padding-left: calc(100px + #{$medium-value});
    padding-right: calc(100px + #{$medium-value});
    
    @include width-below($mobile-size){
        padding-left: $medium-value;
        padding-right: $medium-value;
    }
}