.single-article{
    margin-top: 50px;
}

.wrapper-single-article{
    
    .wp-caption{
        width: 100% !important;
        height: auto;
        margin: 2em 0;
        
        img{
            width: 100%;
        }
        
        .wp-caption-text{
            font-size: 1.4rem;
            color: $gris1;
            text-align: center;
        }
    }
    
    p{
        line-height: 1.7em;
        
        a{
            transition: all ease .25s;
            text-decoration: none;
            border-bottom: 2px solid $base-background;
            
            &:hover{
                color: $or-cadre;
                border-bottom: 2px solid transparent;
            }
        }
    }
    
    h2{
        font-size: $h3-size;
    }
    
    h3{
        font-size: $h4-size;
    }
    
    blockquote{
        font-size: 3rem;
        margin: 2.5em auto;
        
        p{
            line-height: 1.35em;
            font-style: italic;
        }
    }
    
    .twitter-tweet{
        margin: $medium-value auto !important;
    }
    
    
    //Couleurs en fonction de la catégorie
    
    $cats: ("or-cadre": $or-cadre, "or-sujet": $or-sujet, "or-piste": $or-piste, "or-doeuvre": $or-doeuvre, "or-bord": $or-bord);
    @each $cat,
    $couleur in $cats {
        &.#{$cat} {
            
            a{
                border-bottom-color: $couleur;
            }
            
            h2,h3, h4, h5, h6,
            a:hover,
            blockquote{
                color: $couleur;
                
                &::before{
                    color: inherit;
                }
            }
        }
    }
    
}

.wrapper-article{
    p, h2, h3, h4, h5, blockquote, ul, ol, .wp-caption-text{
        margin-left: $large-value;
        margin-right: $large-value;
    }
    
    blockquote p{
        margin-left: 0;
        margin-right: 0;
    }
    
    .size-medium{
        padding-left: $large-value;
        padding-right: $large-value;
    }
}