//Home

.cat-vlog{
    background-color: #1d2021;
    
    .hgroup-cat{
        h1{
            opacity: .075;
        }
        p{
            color: $vlog;
        }
    }
    
    .wrapper-vlog{
        position: relative;
        z-index: 2;
        margin-top: 20px;
    }
    
    .single-vlog{
        width: 33%;
    }
    
    .thumb-vlog{
        display: inline-block;
    }
    
    .meta-vlog{
        display: flex;
        margin-top: $small-value;
        
        h2{
            order:3;
            font-size: 2rem;
            font-weight: normal;
            
            a{
                color: $gris4;
                text-decoration: none;
            }
        }
    }
    
    .temps-vlog{
        color: $gris1;
        font-family: $font-stack-headings;
        font-size: 1.4rem;
        margin-right: $small-value;
        text-align: center;
        position: relative;
        top: -30px;
        
        svg{
            width: 40px;
            height: 40px;
            
            circle{
                fill: $vlog;
            }
            path{
                fill: #fff;
            }
        }
    }  
}