//Home

    .thumb-vlog{
        transition: all ease .25s;
        display: inline-block;
        max-width: 100%; //ie
        position: relative;
        top: 0;
        
        &:hover{
            top: -5px;
           box-shadow: 2px 2px 10px rgba(#000, .6); 
            
            &::after{
                background-color: rgba(#1d2021, 0);
            }
        }
        
        
        &::after{
            transition: all ease .25s;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(#1d2021, .2);
        }
    }

.cat-vlog{
    background-color: #1d2021;
    
    .bt{
        &:hover{
            color: #fff;
            background-color: rgba($vlog, .85);
            border-color: transparent;
        } 
    }
    
    .hgroup-cat{
        h1{
            opacity: .075;
        }
        p{
            color: $vlog;
        }
    }
    
    .wrapper-vlog{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        
        @include width-below(700px){
            flex-direction: column;
        }
    }
    
    @include width-above(701px){
    
        .single-vlog{
            width: 33%;

            &:not(:last-child){
                margin-right: $medium-value;
            }
        }
        
    }
    
    .meta-vlog{
        
        h2{
            
            a{
                color: $gris4;
            }
        }
    }
    
    .temps-vlog{
        color: $gris1;
        font-size: 1.4rem;
        margin-right: $small-value;
        text-align: center;
        position: relative;
        top: -45px;
        width: 60px;
        flex-shrink: 0;
        
        svg{
            width: 40px;
            height: 40px;
            fill: inherit;
            
            .circle{
                fill: $vlog;
            }
            .path{
                fill: #fff;
            }
        }
    }  
}

.meta-vlog{
    display: flex;
    margin-top: $small-value;

    h2{
        order:3;
        font-size: 2rem;
        font-weight: $regular;

        a{
            text-decoration: none;
        }
    }
}

.temps-vlog{
    color: $gris1;
    font-size: 1.4rem;
    margin-right: $small-value;
    text-align: center;
    position: relative;
    top: -45px;
    width: 60px;
    flex-shrink: 0;

    svg{
        width: 40px;
        height: 40px;

        circle{
            fill: $vlog;
        }
        path{
            fill: #fff;
        }
    }
} 

.slick-slider{
    position: static;
    
    .single-vlog{
        margin-right: $medium-value/2;
        margin-left: $medium-value/2;
    }
    
    button{
        transition: all ease .25s;
        position: absolute;
        background-color: $vlog;
        border:0;
        color: #fff;
        font-weight: $black;
        padding: 1em;
        cursor: pointer;
        opacity: 1;
        top: 0;
        height: 150px;
        
        @include width-below(700px){
            padding: .5em;
            height: 100px;
        }
        
        svg{
            fill: #fff;
            height: 20px;
            width: 20px;
        }
        
        &:hover{
            background-color: lighten($vlog, 10%);
        }
    }
    
    .slick-next{
        right: 0;
    }
    
    .slick-prev{
        left: 0;
        transform: rotate(180deg);
    }
    
    .slick-disabled{
        opacity: 0;
    }
    
    .slick-list{
        width: 100%;
    }
}

.slider-position{
    position: relative;
    
    .wrapper-vlog{
        padding: 0 $large-value;
        margin-top: -15px;
        display: flex;
    }
}

.archive-vlog{
    .hgroup-cat{
        .h1-like{
            font-size: 12rem;
            color: rgba(#fff, .4);
            
            @include width-below(800px){
                font-size: 8rem;
            }
            
            @include width-below(500px){
                font-size: 6rem;
            }
        }
    }
}

.hgroup-cat-vlog{
    padding: 0 calc(#{$large-value} + #{$small-value});
    
    h2{
        margin: 0;
        color: $vlog;
        text-transform: uppercase;
        margin-bottom: -20px;
        line-height: 1em;
    }
}

.vlog-latest{
    padding: $large-value 0;
}

.vlog-avant{
    display: block;
    background-size: cover;
    padding: $large-value 100px;
    background-position: center;
    text-decoration: none;
    min-height: 56vh;
    margin-bottom: $medium-value;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include width-below(800px){
        padding: $large-value 50px;
    }
    
    @include width-below(600px){
        padding: $large-value 30px;
    }    
    
    h2{
        color: #fff;
        max-width: 50%;
        line-height: 1.2em;
        margin-top: $medium-value;
        margin-bottom: $medium-value;
        
    }
    
    .title-avant{
        color: #fff;
        font-weight: $medium;
    }
    
    .icon-vlog{
        
        svg{
            width: 60px;
            height: 60px;
            margin: auto;
            fill: #fff;
            display: inline-block;
            vertical-align: middle;
        }
        
        p{
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
            margin-left: 1em;
            font-weight: $bold;
            font-size: 2.5rem;
        }
        
        color: #fff;
    }
    
    .alaune{
        font-weight: $bold;
        color: #fff;
    }
}

// Single Vlog

.single-vlog-entretiens{
    background-color: $gris2;
    padding: $large-value 0;
    overflow: hidden;
    
    .hgroup-cat{
        .h1-like{
            font-size: 12rem;
            color: #fff;
            opacity: .4;
            
            @include width-below(800px){
                font-size: 10rem;
            }
            
            @include width-below(500px){
                font-size: 8rem;
            }
        }
        
        p{
            color: $vlog;
        }
    }
}

.content-single-vlog{
    display: flex;
    
    aside{
        width: 25%;
        flex-shrink: 0;
        margin-left: $large-value;
        
        .aside-titre{
            text-transform: uppercase;
            color: $gris4;
            margin-bottom: 1em;
        }
        
        .meta-vlog h2 a{
            color: $gris4;
        }
        
        .single-vlog:not(:last-child){
            margin-bottom: 1.5em;
        }
        
        @include width-below(900px){
            display: none;
        }
        
    }
    
    article{
        h1{
            color: $vlog;
            font-size: 4rem;
            margin-bottom: 0;
            margin-top: 1em;
        }
        
        .author-vlog{
            margin-top: 0;
            margin-bottom: 1em;
            
            font-size: 1.8rem;
            
            a{
                transition: color ease .25s;
                color: inherit;
                text-decoration: none;
                
                &:hover{
                    color: $vlog;
                }
            }
        }
        
        .list-tag{
            margin-top: $medium-value;
            
            a{
                transition: all ease .25s;
                background-color: transparent;
                border: 2px solid $gris1;
                
                &:hover{
                    border-color: $vlog;
                    color: $vlog;
                }
            }
        }
    }
}

.single-vlog-cross{
    background-color: #fff;
}

.wrapper-single-vlog{
    background-color: $gris5;
    padding: $large-value 0;
    color: #fff;
    
    .wrapper{
        padding-top: 0;
        padding-bottom: 0;
    }

}

.video{
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    
    iframe,
	object,
	embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
} 

.article-vlog{
    margin-top: $large-value;
    padding-top: $medium-value;
    border-top: 4px solid #525253;
    display: inline-block;
    
    .format{
        display: flex;
        width: 75%;
    }
    
    h2 a{
        color: #fff;
    }
    
    .thumb{
        margin-right: $medium-value;
    }
    
    .wrap-content-article{
        margin-top: 0;
    }
    
    .excerpt{
        font-size: 1.4rem;
    }
}

.title-article-vlog{
    font-size: 4rem;
    text-transform: uppercase;
    color: $vlog;
    font-weight: $bold;
    margin-bottom: -13px;
    line-height: 1em;
}

//Responsive
div:not(.slick-slide){
@include width-below(700px){
    
    
        &.single-vlog{
            width: 100%;
            display: flex;
            align-items: stretch;
            margin-right: 0;
            margin-bottom: $small-value;

            .thumb-vlog{
                width: 40%;
                margin-right: $small-value;

                img{
                    //object-fit: cover; //A associer avec un height100% quand la techno sera prete http://caniuse.com/#feat=requestidlecallback
                }
            }

            .wrap-content-article{
                width: 60%;
                margin-top: 0;
            }

            h2{
                margin-bottom: 0;
            }

            .meta-vlog{
                width: 60%;
                margin-top: 0;
                display: block;

                .temps-vlog{
                    position: static;
                    text-align: left;
                }

                .temps-vlog a{
                    display: none;
                }
            }
        }
    }
}